{{define "content"}}
<div class="dashboard-index">

	<div>
		<!-- DATA -->
		<div id="data">
			<div id="healthcheck-list"></div>
		</div>

		<div class="clearfix"></div>

		<div id="no-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>No healthchecks found</div>
				</div>
			</div>
		</div>

		<div id="error-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Problem while loading healthcheck list</h3>
					<p id="error-data-message"></p>
					<button type="button" class="btn btn-primary" onclick="load();">Try again</button>
				</div>
			</div>
		</div>

		<div id="loading-data">
			<div class="panel panel-default">
				<div class="panel-body">Loading...</div>
			</div>
		</div>
	</div>

</div>

<!-- STARTUP -->
<script>
	function hasHealthcheckById(healthcheckId) {
		var healthcheck = getHealthcheckById(healthcheckId);

		return (!Util.isNullOrUndefined(healthcheck));
	}

	function addHealthcheck(healthcheck) {
		if (!hasHealthcheckById(healthcheck.token)) {
			healthcheck.lastStatus = "";
			healthcheckList.push(healthcheck);
		}
	}

	function getHealthcheckById(healthcheckId) {
		for (var x = 0; x < healthcheckList.length; x++) {
			if (healthcheckList[x].token == healthcheckId) {
				return healthcheckList[x];
			}
		}

		return null;
	}

	function getHealthcheckIndexById(healthcheckId) {
		for (var x = 0; x < healthcheckList.length; x++) {
			if (healthcheckList[x].token == healthcheckId) {
				return x;
			}
		}

		return null;
	}

	function clearHealthcheckList() {
		healthcheckList = [];
	}

	function removeHealthcheckById(healthcheckId) {
		var healthcheckIndex = getHealthcheckIndexById(healthcheckId);

		if (!Util.isNullOrUndefined(healthcheckIndex)) {
			healthcheckList.splice(healthcheckIndex, 1);
		}
	}

	function getHealthcheckLastStatusById(healthcheckId) {
		var healthcheck = getHealthcheckById(healthcheckId);

		if (!Util.isNullOrUndefined(healthcheck)) {
			return healthcheck.lastStatus;
		}

		return null;
	}

	function updateHealthcheckLastStatusById(healthcheckId, status) {
		var healthcheck = getHealthcheckById(healthcheckId);

		if (!Util.isNullOrUndefined(healthcheck)) {
			healthcheck.lastStatus = status;
		}
	}

	function load() {
		Healthcheck.list(function () {
			// ?
		}, function (wr) {
			var errorMessage = null;

			if (wr.success) {
				var list = wr.getDataItem("list");

				// check for invalid list
				if (Util.isNullOrUndefined(list)) {
					Util.showNoData();
					Healthcheck.clearHealthcheckList();
					clearHealthcheckList();
					autoLoad();
					return;
				}

				// update current healthcheck list - add new healthcheck to list
				if (list.length > 0) {
					for (var x = 0; x < list.length; x++) {
						var healthcheck = list[x];

						if (!hasHealthcheckById(healthcheck.token)) {
							addHealthcheck(healthcheck);
						}
					}
				}

				// update current healthcheck list - remove old healthchecks from list
				for (var x = 0; x < healthcheckList.length; x++) {
					var healthcheck = healthcheckList[x];
					var found = false;

					for (var y = 0; y < list.length; y++) {
						if (list[y].token == healthcheck.token) {
							found = true;
							break;
						}
					}

					if (!found) {
						removeHealthcheckById(healthcheck.token);
						$("#healthcheck-row-" + healthcheck.token).remove();
					}
				}

				// update current healthcheck list - remove healthchecks that not exists
				for (var x = 0; x < list.length; x++) {
					var healthcheck = list[x];
					var found = false;

					for (var y = 0; y < healthcheckList.length; y++) {
						if (healthcheckList[y].token == healthcheck.token) {
							found = true;
							break;
						}
					}

					if (!found) {
						removeHealthcheckById(healthcheck.token);
						$("#healthcheck-row-" + healthcheck.token).remove();
					}
				}

				// update current healthcheck list - only data
				for (var x = 0; x < healthcheckList.length; x++) {
					var healthcheck = healthcheckList[x];

					for (var y = 0; y < list.length; y++) {
						var currentHealthcheck = list[y];

						if (healthcheck.token == currentHealthcheck.token) {
							healthcheck.status = currentHealthcheck.status;
							healthcheck.ping = currentHealthcheck.ping;
							healthcheck.description = currentHealthcheck.description;
							break;
						}
					}
				}

				// add new healthchecks
				for (var x = 0; x < healthcheckList.length; x++) {
					var healthcheck = healthcheckList[x];

					// add html for healthcheck if not exists
					if (!$("#healthcheck-row-" + healthcheck.token).length > 0) {
						Healthcheck.addHealthcheckToHTMLAsListItem(healthcheck);
					}

					// set healthcheck data on html
					$(".ph-healthcheck-token-" + healthcheck.token).html(healthcheck.token);
					$(".ph-healthcheck-ping-" + healthcheck.token).html(Util.msToHumanText(healthcheck.ping));

					var itemClass = '';
					var iconClass = '';

					if (healthcheck.status == Healthcheck.STATUS_SUCCESS) {
						itemClass = 'col-lg-2 col-md-3 col-sm-4 col-xs-12 healthcheck-item success';
						iconClass = 'icon glyphicon glyphicon-ok-sign';
					} else if (healthcheck.status == Healthcheck.STATUS_WARNING) {
						itemClass = 'col-lg-2 col-md-3 col-sm-4 col-xs-12 healthcheck-item warning';
						iconClass = 'icon glyphicon glyphicon-exclamation-sign';
					} else if (healthcheck.status == Healthcheck.STATUS_ERROR) {
						itemClass = 'col-lg-2 col-md-3 col-sm-4 col-xs-6 healthcheck-item error';
						iconClass = 'icon glyphicon glyphicon-remove-sign';
					}

					var currentHealthcheckStatus = getHealthcheckLastStatusById(healthcheck.token);

					if (currentHealthcheckStatus != healthcheck.status) {
						$("#healthcheck-row-" + healthcheck.token + "").attr('class', itemClass);
						$("#healthcheck-row-" + healthcheck.token + " > .icon").attr('class', iconClass);
						updateHealthcheckLastStatusById(healthcheck.token, healthcheck.status);
					}
				}

				if (healthcheckList.length > 0) {
					Util.showData();
				} else {
					Util.showNoData();
				}
			} else {
				errorMessage = Util.getFirstErrorMessage(wr.data.errors);
			}

			if (errorMessage) {
				Healthcheck.clearHealthcheckListItem();
				clearHealthcheckList();
				Util.showErrorData(errorMessage);
			}

			autoLoad();
		}, function () {
			Util.showErrorData("An error occurred while processing your request, try again!");
			Util.showNoData();
			Healthcheck.clearHealthcheckListItem();
			clearHealthcheckList();
			autoLoad();
		});
	}

	function autoLoad() {
		setTimeout(function () {
			load();
		}, 1000);
	}

	function back() {
		Util.redirect("/");
	}

	$(document).ready(function () {
		load();
	});
</script>
{{end}}