html,
body {
	height: 100%;
}

body {
	padding-top: 70px;
}

*:focus {
	outline: none !important;
}

a {
	text-decoration: none;
	color: #000 !important;
}

a:focus {
	text-decoration: none;
	color: #4fbc9c !important;
}

a:hover {
	text-decoration: none;
	color: #4fbc9c !important;
}

a:visited {
	text-decoration: none;
	color: #000 !important;
}

a.btn:focus {
	text-decoration: none;
	color: #777777 !important;
}

a.btn:hover {
	text-decoration: none;
	color: #777777 !important;
}

.navbar-default {
	background-color: #ffffff;
	border-color: #eeeeee;
}

.navbar-default .navbar-brand {
	color: #4fbc9c;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #4fbc9c !important;
	background-color: transparent;
}

.navbar-default .navbar-text {
	color: #777777;
}

.navbar-default .navbar-nav > li > a {
	color: #777777;
	padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #4fbc9c !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #333333;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #555555;
	background-color: transparent;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}

.navbar-default .navbar-toggle {
	border-color: #dddddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #dddddd;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #888888;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #eeeeee;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #555555;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777777;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333333;
		background-color: transparent;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555555;
		background-color: transparent;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}

.navbar-default .navbar-link {
	color: #777777;
}

.navbar-default .navbar-link:hover {
	color: #4fbc9c !important;
}

.navbar-default .btn-link {
	color: #777777;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
	color: #333333;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
	color: #cccccc;
}

@media (min-width: 768px) {
	.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li > a:hover {
		border-bottom: 5px solid #eee;
		padding-bottom: 10px;
	}
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.wrap > .container {
	padding: 15px 20px;
}

.wrap > .container-fluid {
	padding: 0;
}

.wrap > .container-dashboard {
	padding: 0;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #3d96f3;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #205081;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

.wrap-log {
	padding-bottom: 0;
}

.no-footer {
	display: none;
}

.options-container-box {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 10px;
	margin: 10px;
	margin-bottom: 20px;
}

.options-container-title {
	margin: 0 0 10px 0;
}

#no-data {
	display: none;
}

#error-data {
	display: none;
}

#loading-data {
	display: none;
}

#error-data h3 {
	margin-top: 0;
}

#graph-data h3 {
	margin-top: 0;
}

#data {
	display: none;
}

.container-dashboard #no-data {
	padding: 10px;
}

.container-dashboard #error-data {
	padding: 10px;
}

.container-dashboard #loading-data {
	padding: 10px;
}

.container-dashboard #data {
	padding: 10px;
}

.hiddenContent {
	display: none;
}

.modalErrorWindowMessageList {
	text-align: left;
}

.action-icon {
	width: 32px;
	height: 32px;
}

.home-index .logo {
	width: 200px;
}

.navbar-brand .logo {
	width: 28px;
	margin-top: -5px;
	margin-right: 10px;
}

.output-content-line-error {
	color: #ed5565;
}

.output-content-line-warning {
	color: #f8ac59;
}

.output-content-line-info {
	color: #56C0E0;
}

.output-content-line-success {
	color: #1ab394;
}

.tab-pane-output-group .panel {
	border-top: 0 none;
	border-radius: 0;
}

.tab-pane-output-group .panel .panel-body {
	word-wrap: break-word;
}

.toast-success {
	color: #ffffff;
	border-color: #1bbf89;
	background-color: #1bbf89;
}

.toast-warning {
	color: #ffffff;
	border-color: #f7af3e;
	background-color: #f7af3e;
}

.toast-info {
	color: #ffffff;
	border-color: #56C0E0;
	background-color: #56C0E0;
}

.toast-error {
	color: #ffffff;
	border-color: #DB524B;
	background-color: #DB524B;
}

#toast-container > div {
	opacity: 1;
	margin-top: 20px;
	border-radius: 4px;
	padding: 20px 20px 20px 50px;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#toast-container > div:hover {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.healthcheck-item {
	padding: 10px;
}

.healthcheck-item div {
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #777;
	text-align: center;
	width: 100%;
}

.healthcheck-item.success div {
	background-color: #1ab394;
	color: #ffffff;
	border-color: #1ab394;
}

.healthcheck-item.warning div {
	background-color: #f8ac59;
	color: #ffffff;
	border-color: #f8ac59;
}

.healthcheck-item.error div {
	background-color: #ed5565;
	color: #ffffff;
	border-color: #ed5565;
}

.healthcheck-item .title {
	line-height: 1.5em;
	height: 3em;
	overflow: hidden;
}

.healthcheck-item .icon {
	padding: 0px;
	margin: 0;
	font-size: 30px;
}

.healthcheck-item .ping {
	margin: 0;
}

.system-settings ul {
	margin-top: 40px;
}

.system-settings ul li {
	padding: 10px 0;
}