{{define "content"}}
<div class="healthcheck-list">

	<div class="col-md-8 col-lg-8">
		<!-- DATA -->
		<div id="data">
			<div id="healthcheck-list" class="list-group"></div>
		</div>

		<div id="no-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>No healthchecks found</div>
				</div>
			</div>
		</div>

		<div id="error-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Problem while loading healthcheck list</h3>
					<p id="error-data-message"></p>
					<button type="button" class="btn btn-primary" onclick="load();">Try again</button>
				</div>
			</div>
		</div>

		<div id="loading-data">
			<div class="panel panel-default">
				<div class="panel-body">Loading...</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-lg-4">
		<div id="graph-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Healthcheck graph</h3>
					<br/>
					<div class="ct-chart ct-perfect-fourth"></div>
				</div>
			</div>
		</div>

		<div id="graph-no-data">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>No healthchecks for graph</div>
				</div>
			</div>
		</div>

		<div id="graph-loading-data">
			<div class="panel panel-default">
				<div class="panel-body">Loading...</div>
			</div>
		</div>
	</div>

</div>

<!-- STARTUP -->
<script>
	function load() {
		Healthcheck.list(function () {
			// ?
		}, function (wr) {
			var errorMessage = null;

			if (wr.success) {
				var list = wr.getDataItem("list");

				// check for invalid list
				if (Util.isNullOrUndefined(list)) {
					Util.showNoData();
					Util.showNoData('graph');
					HealthcheckList.clearHealthcheckHtmlList();
					HealthcheckList.clearList();
					autoLoad();
					return;
				}

				// update current healthcheck list - add new healthcheck to list
				if (list.length > 0) {
					for (var x = 0; x < list.length; x++) {
						var healthcheck = list[x];

						if (!HealthcheckList.hasHealthcheckById(healthcheck.token)) {
							HealthcheckList.addHealthcheck(healthcheck);
						}
					}
				}

				// update current healthcheck list - remove old healthchecks from list
				for (var x = 0; x < healthcheckList.length; x++) {
					var healthcheck = healthcheckList[x];
					var found = false;

					for (var y = 0; y < list.length; y++) {
						if (list[y].token == healthcheck.token) {
							found = true;
							break;
						}
					}

					if (!found) {
						HealthcheckList.removeHealthcheckById(healthcheck.token);
						$("#healthcheck-row-" + healthcheck.token).remove();
					}
				}

				// update current healthcheck list - remove healthchecks that not exists
				for (var x = 0; x < list.length; x++) {
					var healthcheck = list[x];
					var found = false;

					for (var y = 0; y < healthcheckList.length; y++) {
						if (healthcheckList[y].token == healthcheck.token) {
							found = true;
							break;
						}
					}

					if (!found) {
						HealthcheckList.removeHealthcheckById(healthcheck.token);
						$("#healthcheck-row-" + healthcheck.token).remove();
					}
				}

				// update current healthcheck list - only data
				for (var x = 0; x < healthcheckList.length; x++) {
					var healthcheck = healthcheckList[x];

					for (var y = 0; y < list.length; y++) {
						var currentHealthcheck = list[y];

						if (healthcheck.token == currentHealthcheck.token) {
							healthcheck.status = currentHealthcheck.status;
							healthcheck.ping = currentHealthcheck.ping;
							break;
						}
					}
				}

				// add html for healthcheck if not exists
				for (var x = 0; x < healthcheckList.length; x++) {
					var healthcheck = healthcheckList[x];

					if (!$("#healthcheck-row-" + healthcheck.token).length > 0) {
						Healthcheck.addHealthcheckToHTML(healthcheck);
					}

					// set healthcheck data on html
					$(".ph-healthcheck-token-" + healthcheck.token).html(healthcheck.token);
					$(".ph-healthcheck-ping-" + healthcheck.token).html(Util.msToHumanText(healthcheck.ping));

					var statusHTML = "";

					if (healthcheck.status == Healthcheck.STATUS_SUCCESS) {
						statusHTML += '<span class="label label-success">' + healthcheck.status + '</span>';
					} else if (healthcheck.status == Healthcheck.STATUS_WARNING) {
						statusHTML += '<span class="label label-warning">' + healthcheck.status + '</span>';
					} else if (healthcheck.status == Healthcheck.STATUS_ERROR) {
						statusHTML += '<span class="label label-danger">' + healthcheck.status + '</span>';
					} else {
						statusHTML += '<span class="label label-success">' + healthcheck.status + '</span>';
					}

					var currentHealthcheckStatus = HealthcheckList.getHealthcheckLastStatusById(healthcheck.token);

					if (currentHealthcheckStatus != healthcheck.status) {
						HealthcheckList.updateHealthcheckLastStatusById(healthcheck.token, healthcheck.status);
						$(".ph-healthcheck-status-" + healthcheck.token).html(statusHTML);
					}
				}

				if (healthcheckList.length > 0) {
					Util.showData();
				} else {
					Util.showNoData();
				}

				// create graph

				var graphTotalSuccess = 0;
				var graphTotalWarning = 0;
				var graphTotalError = 0;

				for (var x = 0; x < healthcheckList.length; x++) {
					var healthcheck = healthcheckList[x];

					if (healthcheck.status == Healthcheck.STATUS_SUCCESS) {
						graphTotalSuccess = graphTotalSuccess + 1;
					} else if (healthcheck.status == Healthcheck.STATUS_WARNING) {
						graphTotalWarning = graphTotalWarning + 1;
					} else if (healthcheck.status == Healthcheck.STATUS_ERROR) {
						graphTotalError = graphTotalError + 1;
					}
				}

				var graphTotal = graphTotalSuccess + graphTotalWarning + graphTotalError;

				if (graphTotal == 0) {
					Util.showNoData('graph');
				} else {
					var graphDataSeries = [];
					var graphDataLabels = [];

					if (graphTotalSuccess > 0) {
						graphDataSeries.push({
							value: graphTotalSuccess,
							className: "pie-chart-serie-success",
							name: "success"
						});
						graphDataLabels.push('Success');
					}

					if (graphTotalWarning > 0) {
						graphDataSeries.push({
							value: graphTotalWarning,
							className: "pie-chart-serie-warning",
							name: "warning"
						});
						graphDataLabels.push('Warning');
					}

					if (graphTotalError > 0) {
						graphDataSeries.push({
							value: graphTotalError,
							className: "pie-chart-serie-error",
							name: "error"
						});
						graphDataLabels.push('Error');
					}

					var graphData = {
						labels: graphDataLabels,
						series: graphDataSeries
					};

					var options = {
						labelInterpolationFnc: function (value) {
							return value
						},
						donut: true
					};

					new Chartist.Pie('.ct-chart', graphData, options);

					Util.showData('graph');
				}
			} else {
				errorMessage = Util.getFirstErrorMessage(wr.data.errors);
			}

			if (errorMessage) {
				HealthcheckList.clearHealthcheckHtmlList();
				HealthcheckList.clearList();
				Util.showErrorData(errorMessage);
			}

			autoLoad();
		}, function () {
			Util.showErrorData("An error occurred while processing your request, try again!");
			Util.showNoData();
			Util.showNoData('graph');
			HealthcheckList.clearHealthcheckHtmlList();
			HealthcheckList.clearList();
			autoLoad();
		});
	}

	function autoLoad() {
		setTimeout(function () {
			load();
		}, 1000);
	}

	function back() {
		Util.redirect("/");
	}

	$(document).ready(function () {
		load();
	});
</script>
{{end}}