{{define "content"}}
<div class="system-settings">

	<div class="body-content">

		<h3>Contact</h3>
		<p><a href="mailto:paulo@prsolucoes.com">paulo@prsolucoes.com</a></p>
		<br/>

		<h3>Open Source</h3>
		<p>
			GoHC is an open source project. The code is on
			<a href="https://github.com/prsolucoes/gohc">GitHub</a>,
			it has MIT license, and is accepting contributions.
		</p>
		<br/>

		<h3>Reliability Guarantees</h3>
		<p>
			No warranties!
			<br/>
			You can contact me if you want paid support or to implement in your server.
		</p>
		<br/>

	</div>
</div>
{{end}}